<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style2.css">
    </head>
    <body>
        <div class ="container">
            <div class = "row">
            </div "col-3"></div>
                <dic class="col-3">
                    <p class="class"></p>
                </dic>
                <dic class="col-9">
                    <p id="uno">Alberto Contreras Torres</p>
                </dic>
            </div>
        </div>
        <div class="container">
            <p id="dos"> Estudiante de ingeniería en Sistemas Digitales y Robótica</p>
            <br/>Pasatiempos: </br>
            <br/></br>
            <p id="tres">Música</p>
            <p>Me gusta tocar canciones de rock alternativo y una que otra de metal, usualmente suelo cambiar entre 2 instrumentos: piano y guitarra</p>
            <center>
            <img src="images/piano.gif"/>
            </center>
            <br/></br>
            <center>
            <img src="images/guitar.jpg"/ width="200" 
            height="300">
            </center>
            <br/></br>
            <p id="tres">Nadar</p>
            <p>Llevo aprendiendo a nadar desde que tengo 4 años y actualmente nado en la alberca del Tec de Monterrey</p>
            <!-- <br/></br> -->
            <center>
            <img src="images/nadar.png"/ width="400" 
            height="500">
            </center>
            <br/></br>
            <p id="tres">Videojuegos</p>
            <p>Suelo jugar videojuegos shooter como call of duty, apex y de igual manera juego un juego tipo rpg llamado Monster Hunters</p>
            <br/></br>
            <center>
            <img src="images/mh.jpg"/ width="500" 
            height="400">
            </center>
            <br/></br>



        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>  
    </body>
</html>